{% extends 'base.html' %}
{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
            </div>

            <form class="login100-form validate-form" method="post" autocomplete="off">
                {{ form.hidden_tag() }}
                <fieldset>
					<span class="login100-form-title">Reset your password</span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        {% if form.password.errors %}
                        {{ form.password(class='input100', placeholder="Password") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fas fa-lock"></i></span>
                        {% for error in form.password.errors %}
                        <div class="alert-message block-message error">
                            <span class="badge badge-danger">{{ error }}</span>
                        </div>
                        {% endfor %}
                        {% else %}
                        {{ form.password(class='input100', placeholder="Password") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fas fa-lock"></i></span>
                        {% endif %}
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class='input100', placeholder="Confirm Password") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fas fa-lock"></i></span>
                        {% for error in form.confirm_password.errors %}
                        <div class="alert-message block-message error">
                            <span class="badge badge-danger">{{ error }}</span>
                        </div>
                        {% endfor %}
                        {% else %}
                        {{ form.confirm_password(class='input100', placeholder="Confirm Password") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fas fa-lock"></i></span>
                        {% endif %}
                    </div>

                    <div class="container-login100-form-btn">
                        {{ form.submit(class='login100-form-btn') }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
